html
    head
      title
      meta(name="viewport",content="width=device-width, initial-scale=1")
      link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
      link(href="https://fonts.googleapis.com/css?family=Cantarell:400i",rel="stylesheet")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="https://use.fontawesome.com/87a8b854d4.js")
      script(src="/script.js")
      style(type="text/css").
        .header{
          font-family: 'Cantarell', sans-serif;
        }
        .login
        {
          padding-top:50px;
          width:50%;
          margin:auto;
        }
        @media only screen and (max-width: 500px) {
          .login {
            width:100%;
          }
        }
    body
      .w3-container.w3-card-4.w3-red
        h1.header 
          i(class="fa fa-forward",aria-hidden="true") 
          span  myPLAY
      .w3-container.w3-center
        .w3-container.login 
          h1 Log In
          form(action='/user/login',method='post')
            input(name="email",placeholder="Enter email",type="email",required).w3-input.w3-border.w3-margin-bottom
            input(name="pwd",type="password",placeholder="Enter password",required).w3-input.w3-border
            button(type="submit").w3-btn-block.w3-margin-top.w3-red Login
          p Not Registered yet? 
            a(href="/user").w3-text-light-blue.w3-hover-text-blue Sign up